@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");

body {
  margin: 0;
  font-family: "Roboto Mono";
  overflow: hidden;
  background-color: #373737;
  font-size: 40px;
  font-weight: bold;
}

header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

haeder .zikto-nav-area {
  width: 100%;
  margin: 0 auto;
}

header .zikto-nav-area ul {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px;
  position: relative;
  z-index: 19;
}

header .zikto-nav-area ul:after {
  content: "";
  display: block;
  clear: both;
}

header .zikto-nav-area ul li {
  width: 50%;
}

header .zikto-nav-area ul li:first-child {
  float: left;
}

header .zikto-nav-area ul li:first-child p {
  display: inline-block;
}

header .zikto-nav-area ul li:first-child p:first-child {
  width: 140px;
  margin-right: 25px;
}

header .zikto-nav-area ul li:first-child p:last-child {
  width: 110px;
  vertical-align: middle;
}

header .zikto-nav-area ul li:first-child p img {
  width: 100%;
  vertical-align: middle;
  z-index: 19 !important;
}

header .zikto-nav-area ul li:last-child {
  float: right;
}

.container {
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.bar {
  z-index: 19;
}

.bar1 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar3 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px);
}

pre {
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 5px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}

#page-1 {
  background-color: #3f51b5;
  background: url("../image/travel_background.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page-1 div {
  width: 100%;
  height: 100%;
}

#page-1 div:last-child {
  background-color: rgba(0, 0, 0, 0.2);
}

#page-2 {
  background-color: #673ab7;
}

#page-3 {
  background-color: #9c27b0;
}

#page-4 {
  background-color: #e91e63;
}

#page-5 {
  background-color: #f44336;
}

#page-6 {
  background-color: #4caf50;
}

#page-1-clone {
  background-color: #3f51b5;
}

#page-6-clone {
  background-color: #4caf50;
}

nav {
  height: 100vh;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 30px;
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #fff;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

.pg-horizontal nav {
  width: 100vw;
  left: 0;
  bottom: 20px;
}
.pg-horizontal nav ul li {
  float: left;
}
