/* header area */
.zikto-wrap {
  width: 100%;
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  
}

.zikto-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.zikto-header-area {
  width: 100%;
  margin: 0 auto;
  height: 250px;
  background:url('image/img_bg.png') no-repeat 100%;
  background-size: cover;
}

.zikto-header {
  width: 100%;
  max-width: 960px;
  display: flex;
  margin: 0 auto;
}

.zikto-nav-wrap {
  width: 100%;
  max-width: 960px;
}

.zikto-nav {
  width: 100%;
  max-width: 960px;
  color: #fff;
  position: relative;
}

.zikto-nav-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.zikto-logo1 {
  width: 130px;
}

.zikto-logo2 {
  width: 130px;
}

.zikto-logo2 img {
  width: 100%;
}

.zikto-nav-container li {
  display: flex;
  align-items: center;
}

.zikto-nav-container li:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.zikto-nav-container li:first-child p {
  margin: 0 15px;
}

.zikto-nav-container li:first-child p:first-child {
  margin: 0;
}

.zikto-nav-container li:last-child p {
  margin: 0 25px;
}

.zikto-nav-container li:last-child p:last-child {
  margin: 0;
}

.zikto-nav-container li p {
  /* width: 50%; */
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;
}

.zikto-nav-container li:last-child p:last-child {
  width: 140px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #004DFF;
  color: #fff;
  border-radius: 21px;
}

.zikto-nav-right {
  font-size: 14px;
}

.business-title {
  color: #fff;
  margin-top: 40px;
  text-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.business-title h1 {
  font-size: 35px;
}

.business-title h4 {
  margin-top: 15px;
}

/* section */

.business-section-wrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 70px;
  background-color : #f6f9fc;
}

.business-products-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.business-container-title {
  width: 100%;
  margin: 0 auto;
  color: #50617A;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.business-card-area {
  width: 100%;
}

.business-card-area ul {
  display: grid;
  grid-gap: 50px 30px;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
}

.business-card-area ul li {
  /* background-color: red; */
  border-radius: 5px;
  /* box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); */
  box-shadow: rgba(219, 233, 241, 0.8) 0px 0px 30px 0px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.business-card-area ul li:hover {
  transform: scale(1.02);
  background-color: #004DFF;
  color: #fff;
}

.business-card-area ul li p {
  width: 100%;
}

.business-card-area ul li p:first-child {
  background: url("./image/travel.png") no-repeat 100%;
  border-radius: 5px 5px 0 0;
  height: 200px;
  background-size: cover;
}

.business-card-area ul li p:last-child {
  padding: 10px 0;
  text-indent: 20px;
}

.business-card-area ul li p span {
  margin: 13px 0;
}

.business-card-title {
  display:block;
  color: #50617A;
  font-size: 14px;
}

.business-card-partner {
  display:block;
  color: #50617A;
  font-size: 12px;
}

.business-card-price {
  display: block;
  color: #004DFF;
}

.business-card-area ul li:hover .business-card-text {
  color: #fff;
}

/* footer area  */

/* footer area */

  footer {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-top: 1px solid #C3C3C3;
  }

  .footer-wrap {
    width: 100%;
    max-width: 960px;
    display: flex;
    margin: 0 auto;
  }

  .footer-container {
    width: 960px;
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .footer-container-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-icon-box {
    width: 100%;
  }
  .footer-icon{
    display: inline-block;
    width: 22px;
    line-height: 140px;
  }

  .fab {
    color: #9C9C9C;
    font-size: 20px;
  }

  .fab:hover {
    color: #1465E4;
    transition: all .5s ease-in-out;
  }

  .footer-font {
    width: 25px;
    height: 25px;
    color: #D8D8D8;
  }

  .footer-left {
    /* background-color: red; */
    padding-top: 30px;
  }

  .footer-left h3 {
    font-size: 14px;
  }

  .footer-left p span {
    font-size: 11px;
  }

  .page-loader {
    background: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
  }

  .page-loader-inner {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      padding: 20px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  .spinner {
      position: relative;
      height: 30px;
      width: 30px;
      margin: 100px auto;
  }

  .double-bounce1,
  .double-bounce2 {
      position: absolute;
      background-color: #1c69af;
      border-radius: 50%;
      opacity: .5;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      -webkit-animation: bounce 2s infinite ease-in-out;
      animation: bounce 2s infinite ease-in-out;
  }

  .double-bounce2 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
  }

  @-webkit-keyframes bounce {

      0%,
      100% {
          -webkit-transform: scale(0);
      }

      50% {
          -webkit-transform: scale(1);
      }
  }

  @keyframes bounce {

      0%,
      100% {
          -webkit-transform: scale(0);
          transform: scale(0);
      }

      50% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
  }