<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="./assets/image/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style1.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/personal_travel.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/demo.css" />
    <script src="../assets/js/classie.js"></script>
    <script src="../assets/js/modernizr.custom.js"></script>
    <title>Insurance Zikto</title>
  </head>
  <body>
    <div class="zikto-wrap">
      <div class="overlay overlay-hugeinc" style="z-index: 1;">
        <div style="max-width: 1440px; margin: 0 auto; height: 100%;">
          <div class="nav-area">
            <div class="contact-area">
              <h2 style="color: #000; letter-spacing: 1px;">
                Contact Information
              </h2>
              <span
                style="width: 10px; height: 1px; background-color: #000; display: block; margin: 20px 0"
              ></span>
              <p style="color: #000; margin-bottom: 20px; font-weight: 300;">
                <i
                  class="fal fa-envelope"
                  style="vertical-align: middle; font-size: 26px; margin-right: 10px;"
                ></i>
                <span style="letter-spacing: 1px; font-size: 12px"
                  >+82(0)70-4104-9458</span
                >
              </p>
              <p style="color: #000; margin-bottom: 30px; font-weight: 300;">
                <i
                  class="fal fa-phone"
                  style="vertical-align: middle; font-size: 26px; margin-right: 10px;"
                ></i>
                <span style="letter-spacing: 1px; font-size: 12px"
                  >contact@zikto.com</span
                >
              </p>
              <ul style="display: flex;">
                <li>
                  <p class="footer-icon">
                    <a
                      class="medium"
                      href="https://medium.com/@insureum_zikto"
                      target="_blank"
                    >
                      <i class="fab fa-medium-m"></i>
                    </a>
                  </p>
                </li>
                <li>
                  <p class="footer-icon" style="margin-left: 30px;">
                    <a
                      class="youtube"
                      href="https://www.youtube.com/channel/UCMcCdwW8V3r4uSTY2qxdNIA"
                      target="_blank"
                    >
                      <i class="fab fa-youtube"></i>
                    </a>
                  </p>
                </li>
                <li>
                  <p class="footer-icon" style="margin-left: 30px;">
                    <a
                      class="facebook"
                      href="https://www.facebook.com/insureum/"
                      target="_blank"
                    >
                      <i class="fab fa-facebook"></i>
                    </a>
                  </p>
                </li>
                <li>
                  <p class="footer-icon" style="margin-left: 30px;">
                    <a
                      class="instagram"
                      href="https://www.instagram.com/insureum_by_zikto"
                      target="_blank"
                    >
                      <i class="fab fa-instagram"></i>
                    </a>
                  </p>
                </li>
              </ul>
            </div>
            <ul class="zikto-nav-items">
              <li>
                <a href="./personal.html">Personal Insurance<span></span></a>
              </li>
              <li>
                <a href="./business.html">Business Insurance<span></span></a>
              </li>
              <li>
                <a href="#">About Us<span></span></a>
              </li>
            </ul>
            <div class="footer-copy-area">
              <p>(주)직토</p>
              <p>대리점 등로번호:</p>
              <p>Copyright © 2017 | Zikto inc. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="zikto-container">
        <header>
          <div class="zikto-nav-area">
            <ul>
              <li>
                <p>
                  <a href="../index.html">
                    <img src="../assets/image/logo/zikto_logo.png" alt="" />
                  </a>
                </p>
                <p>
                  <img
                    src="../assets/image/logo/insurance_logo_text.png"
                    alt=""
                  />
                </p>
              </li>
              <li
                id="trigger-overlay"
                class="container current-demo overlay-close"
                onclick="myFunction(this)"
              >
                <p class="bar1 bar"></p>
                <p class="bar2 bar"></p>
                <p class="bar3 bar"></p>
              </li>
            </ul>
          </div>
        </header>
        <section class="pt-section">
          <div class="pt-section-left">
            <div class="pt-section-left-area">
              <p style="margin: 0;">다른 보험사를 찾으시나요?</p>
              <ul>
                <li style="display: inline-block">
                  <p>
                    <img
                      src="../assets/image/parters/AIG_logo.svg.png"
                      alt=""
                    />
                    <span
                      style="display:block; margin: 0 auto; width: 30px; height: 2px; background-color: #fff;"
                    ></span>
                  </p>
                </li>
                <li style="display: inline-block; padding: 0 40px;">
                  <a href="">
                    <p style="font-size: 20px; font-weight: 600;">
                      현대 해상
                    </p>
                  </a>
                </li>
                <li style="display: inline-block">
                  <a href="">
                    <p style="font-size: 20px; font-weight: 600;">
                      AXA 손해 보험
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="pt-section-right">
            <div class="pt-section-right-area">
              <p
                style="text-transform: uppercase;
              font-weight: 600;
              padding: 0;"
              >
                Personal Insurance
              </p>
              <h1>AIG여보<br />해외여행보험</h1>
              <h2>
                당신의 여행지와 목적에 맞춰 보상 플랜이 달라집니다.<br />
                도시형, 휴향지형, 든든형 세가지 플랜중에 꼭맞는 상품을
                선택해보세요.
              </h2>
              <ul>
                <li>
                  <a href="../slideshow.html">
                    <img
                      src="../assets/image/graphic_icon/travel1.png"
                      alt=""
                    />
                    <p>
                      <span style="display:block;">도시로 떠난다면?</span>
                      <span style="font-size: 20px; line-height: 30px;"
                        >도시형<i
                          style="margin-left: 5px;"
                          class="fal fa-angle-right"
                        ></i
                      ></span>
                    </p>
                  </a>
                </li>
                <li>
                  <a href="../slideshow.html/#page-2">
                    <img
                      src="../assets/image/graphic_icon/travel2.png"
                      alt=""
                    />
                    <p>
                      <span style="display:block;">휴양지 떠난다면?</span>
                      <span style="font-size: 20px; line-height: 30px;"
                        >휴양지형<i
                          style="margin-left: 5px;"
                          class="fal fa-angle-right"
                        ></i
                      ></span>
                    </p>
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="../assets/image/graphic_icon/travel3.png"
                      alt=""
                    />
                    <p>
                      <span style="display:block;"
                        >모든 것이 다 걱정이라면?</span
                      >
                      <span style="font-size: 20px; line-height: 30px;"
                        >든든형<i
                          style="margin-left: 5px;"
                          class="fal fa-angle-right"
                        ></i
                      ></span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
  </script>
  <script src="../assets/js/demo1.js"></script>
</html>
