/* header area */
.zikto-wrap {
  width: 100%;
  height: 100vh;
  font-family: 'Nanum Gothic', sans-serif;
  
}

.zikto-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.zikto-header-area {
  width: 100%;
  margin: 0 auto;
  height: 320px;
  background:url('../image/img_bg.png') no-repeat 100% center;
  background-size: cover;
}

.zikto-header {
  width: 100%;
  /* max-width: 960px; */
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.zikto-nav-wrap {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  background: #fff;
}

.zikto-nav {
  /* width: 100%; */
  max-width: 960px;
  margin: 0 auto;
  /* color: #fff; */
  position: relative;
  padding: 10px 0;
}

.zikto-nav-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.zikto-logo1 {
  width: 130px;
}

.zikto-logo2 {
  width: 130px;
}

.zikto-logo2 img {
  width: 100%;
}

.zikto-nav-container li {
  display: flex;
  align-items: center;
}

.zikto-nav-container li:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.zikto-nav-container li:first-child p {
  margin: 0 15px;
}

.zikto-nav-container li:first-child p:first-child {
  margin: 0;
}

.zikto-nav-container li:last-child p {
  margin: 0 25px;
}

.zikto-nav-container li:last-child p:last-child {
  margin: 0;
}

.zikto-nav-container li p {
  /* width: 50%; */
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;
}

.zikto-nav-container li:last-child p:last-child {
  width: 140px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #004DFF;
  color: #fff;
  border-radius: 21px;
}

.zikto-nav-right {
  font-size: 14px;
  color: #9C9C9C;
}

.pd-title {
  max-width: 960px;
  margin: 70px auto 0;
  color: #fff;
  text-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.pd-title h1 {
  font-size: 35px;
}

.pd-title h4 {
  margin-top: 15px;
}

/* section */

.pd-section-wrap {
  width: 100%;
  margin: 0 auto;
  /* padding-top: 90px;
  padding-bottom: 70px; */
  padding: 50px 0;
  background-color : #f6f9fc;
  
}

.pd-section-container {
  width: 100%;
  margin: 0 auto;
}

.pd-section-area {
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

/*
section ,
section-left start
*/

.pd-section-left {
  width:55%;
  display: grid;
  grid-gap: 20px;
  padding: 3%;
}

.pd-section-left ul {
  line-height: 30px;
  font-size: 14px;
}

/*
section ,
section-right start
*/

.pd-section-right {
  width: 45%;
  position: relative;
  height: 100%;
}

.pd-section-circulator-area {
  height: 80%;
  position: absolute;
  left: 0;
  top: -270px;
  width: 80%;
  background-color: #004DFF;
  height: 450px;
  margin: 10%;
  border-radius: 5px;
}

.pd-section-circulator {
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.pd-section-circulator h2 {
  color: #fff;
  font-size: 24px;
}

.circulator-subtitle {
  font-size: 12px;
  color: #fff;
  margin: 10px 0 5px;
}

.circulator-btn-area {
  width: 100%;
  margin-top: 40px;
}

.circulator-btn-area p {
  width: 100%;
}

.circulator-btn-area button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #2ED2C7;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
}

/* footer area  */

  footer {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-top: 1px solid #C3C3C3;
  }

  .footer-wrap {
    width: 100%;
    max-width: 960px;
    display: flex;
    margin: 0 auto;
  }

  .footer-container {
    width: 960px;
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .footer-container-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-icon-box {
    width: 100%;
  }
  .footer-icon{
    display: inline-block;
    width: 22px;
    line-height: 140px;
  }

  .fab {
    color: #9C9C9C;
    font-size: 20px;
  }

  .fab:hover {
    color: #1465E4;
    transition: all .5s ease-in-out;
  }

  .footer-font {
    width: 25px;
    height: 25px;
    color: #D8D8D8;
  }

  .footer-left {
    /* background-color: red; */
    padding-top: 30px;
  }

  .footer-left h3 {
    font-size: 14px;
  }

  .footer-left p span {
    font-size: 11px;
  }


  .page-loader {
    background: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
}

.page-loader-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spinner {
    position: relative;
    height: 30px;
    width: 30px;
    margin: 100px auto;
  }

  .double-bounce1,
  .double-bounce2 {
      position: absolute;
      background-color: #1c69af;
      border-radius: 50%;
      opacity: .5;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      -webkit-animation: bounce 2s infinite ease-in-out;
      animation: bounce 2s infinite ease-in-out;
  }

  .double-bounce2 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
  }

  @-webkit-keyframes bounce {

      0%,
      100% {
          -webkit-transform: scale(0);
      }

      50% {
          -webkit-transform: scale(1);
      }
  }

  @keyframes bounce {

      0%,
      100% {
          -webkit-transform: scale(0);
          transform: scale(0);
      }

      50% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
  }
  


  /* Circulation CSS  */

  .custom-select {
    position: relative;
    margin-top: 20px;
    /* font-family: Arial; */
  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  .select-selected {
    background-color: DodgerBlue;
    border-radius: 5px;
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 50px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 42px;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* Circulation CSS  */