.pg-container {
  height: 100vh !important;
}

body {
  margin: 0;
  font-family: "Roboto Mono";
  overflow: hidden;
  /* background-color: #373737; */
  font-size: 40px;
  font-weight: bold;
}

header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

header .zikto-nav-area {
  width: 100%;
  margin: 0 auto;
}

header .zikto-nav-area ul {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 60px;
  position: relative;
  z-index: 19;
}

header .zikto-nav-area ul:after {
  content: "";
  display: block;
  clear: both;
}

header .zikto-nav-area ul li {
  width: 50%;
}

header .zikto-nav-area ul li:first-child {
  float: left;
}

header .zikto-nav-area ul li:first-child p {
  display: inline-block;
}

header .zikto-nav-area ul li:first-child p:first-child {
  width: 108px;
  margin-right: 15px;
  vertical-align: middle;
}

header .zikto-nav-area ul li:first-child p:last-child {
  width: 108px;
  vertical-align: middle;
}

header .zikto-nav-area ul li:first-child p img {
  width: 100%;
  vertical-align: middle;
  z-index: 19 !important;
}

header .zikto-nav-area ul li:last-child {
  float: right;
}

.container {
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.bar {
  z-index: 19;
}

.bar1 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar3 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px);
}

pre {
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 5px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}

/* page 1 */

#page-1 {
  /* background-color: #673ab7; */
  /* background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  background-color: #f4f3f0;
}
#page-1 .fp-tableCell {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page-1:first-child {
  background-color: #f4f3f0;
}

#page-1 .p1-section-left {
  width: 100%;
  height: 100%;
  background: url("../image/personal_drive_bg1.png") no-repeat;
  background-size: cover;
  position: relative;
}

#page-1 .p1-section-right {
  width: 100%;
  height: 100%;
  background-color: #f4f3f0;
  text-align: left;
}

#page-1 .p1-section-right-area {
  height: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-1 .p1-section-right-area div .p1-image-area {
  width: 46px;
  display: inline-block;
  margin-right: 20px;
}

#page-1 .p1-section-right-area div .p1-title {
  color: #000;
  font-size: 44px;
  vertical-align: middle;
  font-weight: 900;
}

#page-1 .p1-section-right-area div .p1-desc {
  display: block;
  font-size: 12px;
  color: #000;
  margin-top: 20px;
  line-height: 20px;
}

#page-1 .p1-section-right-area .p1-desc-area {
  margin-top: 50px;
  color: #000;
}

#page-1 .p1-section-right-area .p1-desc-area ul li {
  margin-bottom: 50px;
}

#page-1 .p1-section-right-area .p1-desc-area ul li:last-child {
  margin-bottom: 80px;
}

#page-1 .p1-image-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* page 2 */

#page-2 {
  /* background-color: #673ab7; */
  /* background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  background-color: #f4f3f0;
}

#page-2 .fp-tableCell {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page-2 .p2-section-left {
  width: 100%;
  height: 100%;
  background: url("../image/personal_drive_bg2.png") no-repeat;
  background-size: cover;
  position: relative;
}

#page-2 .p2-section-right {
  width: 100%;
  height: 100%;
  background-color: #f4f3f0;
  text-align: left;
}

#page-2 .p2-section-right-area {
  height: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-2 .p2-section-right-area div .p2-image-area {
  width: 46px;
  display: inline-block;
  margin-right: 20px;
}

#page-2 .p2-section-right-area div .p2-title {
  color: #000;
  font-size: 44px;
  vertical-align: middle;
  font-weight: 900;
}

#page-2 .p2-section-right-area div .p2-desc {
  display: block;
  font-size: 12px;
  color: #000;
  margin-top: 20px;
  line-height: 20px;
}

#page-2 .p2-section-right-area .p2-desc-area {
  margin-top: 50px;
  color: #000;
}

#page-2 .p2-section-right-area .p2-desc-area ul li {
  margin-bottom: 50px;
}

#page-2 .p2-section-right-area .p2-desc-area ul li:last-child {
  margin-bottom: 80px;
}

#page-2 .p2-image-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* page 3 */

#page-3 {
  /* background-color: #673ab7; */
  /* background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  background-color: #f4f3f0;
}

#page-3 .fp-tableCell {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page-3 .p3-section-left {
  width: 100%;
  height: 100%;
  background: url("../image/personal_drive_bg3.png") no-repeat;
  background-size: cover;
  position: relative;
}

#page-3 .p3-section-right {
  width: 100%;
  height: 100%;
  background-color: #f4f3f0;
  text-align: left;
}

#page-3 .p3-section-right-area {
  height: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-3 .p3-section-right-area div .p3-image-area {
  width: 46px;
  display: inline-block;
  margin-right: 20px;
}

#page-3 .p3-section-right-area div .p3-title {
  color: #000;
  font-size: 44px;
  vertical-align: middle;
  font-weight: 900;
}

#page-3 .p3-section-right-area div .p3-desc {
  display: block;
  font-size: 12px;
  color: #000;
  margin-top: 10px;
  line-height: 20px;
}

#page-3 .p3-section-right-area .p3-desc-area {
  margin-top: 50px;
  color: #000;
}

#page-3 .p3-section-right-area .p3-desc-area ul li {
  margin-bottom: 50px;
}

#page-3 .p3-section-right-area .p3-desc-area ul li:last-child {
  margin-bottom: 80px;
}

#page-3 .p3-image-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* page 4 */

#page-4 {
  /* background-color: #673ab7; */
  /* background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  background-color: #f4f3f0;
}

#page-4 .fp-tableCell {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page-4 .p4-section-left {
  width: 100%;
  height: 100%;
  background: url("../image/personal_drive_bg4.png") no-repeat;
  background-size: cover;
  position: relative;
}

#page-4 .p4-section-right {
  width: 100%;
  height: 100%;
  background-color: #f4f3f0;
  text-align: left;
}

#page-4 .p4-section-right-area {
  height: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-4 .p4-section-right-area div .p4-image-area {
  width: 46px;
  display: inline-block;
  margin-right: 20px;
}

#page-4 .p4-section-right-area div .p4-title {
  color: #000;
  font-size: 44px;
  vertical-align: middle;
  font-weight: 900;
}

#page-4 .p4-section-right-area div .p4-desc {
  display: block;
  font-size: 12px;
  color: #000;
  margin-top: 10px;
  line-height: 20px;
}

#page-4 .p4-section-right-area div .p4-desc span {
  display: block;
}

#page-4 .p4-section-right-area .p4-desc-area {
  margin-top: 50px;
  color: #000;
}

#page-4 .p4-section-right-area .p4-desc-area ul li {
  margin-bottom: 50px;
}

#page-4 .p4-section-right-area .p4-desc-area ul li:last-child {
  margin-bottom: 80px;
}

#page-4 .p4-image-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* page 5 */

#page-5 {
  /* background-color: #673ab7; */
  /* background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  background-color: #f4f3f0;
}

#page-5 .fp-tableCell {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page-5 .p5-section-left {
  width: 100%;
  height: 100%;
  background: url("../image/personal_drive_bg5.png") no-repeat;
  background-size: cover;
  position: relative;
}

#page-5 .p5-section-right {
  width: 100%;
  height: 100%;
  background-color: #f4f3f0;
  text-align: left;
}

#page-5 .p5-section-right-area {
  height: 100%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-5 .p5-section-right-area div .p5-image-area {
  width: 46px;
  display: inline-block;
  margin-right: 20px;
}

#page-5 .p5-section-right-area div .p5-title {
  color: #000;
  font-size: 44px;
  vertical-align: middle;
  font-weight: 900;
}

#page-5 .p5-section-right-area div .p5-desc {
  display: block;
  font-size: 12px;
  color: #000;
  margin-top: 10px;
  line-height: 20px;
}

#page-5 .p5-section-right-area div .p5-desc span {
  display: block;
}

#page-5 .p5-section-right-area .p5-desc-area {
  margin-top: 50px;
  color: #000;
}

#page-5 .p5-section-right-area .p5-desc-area ul li {
  margin-bottom: 50px;
}

#page-5 .p5-section-right-area .p5-desc-area ul li:last-child {
  margin-bottom: 80px;
}

#page-5 .p5-image-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

nav {
  height: 100vh;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 30px;
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}

nav ul li a span {
  background: #333;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #333;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

.pg-horizontal nav {
  width: 100vw;
  left: 0;
  bottom: 20px;
}
.pg-horizontal nav ul li {
  float: left;
}

/* Section 
  Animation */

section .p1-section-right-area ul li {
  -webkit-animation: fade-in-bottom 0.5s ease-in-out;
  animation: fade-in-bottom 0.5s ease-in-out;
}

/* 작업순서 1 : 스마트폰 세로버전 */

@media all and (min-width: 320px) and (max-width: 480px) {
  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  .bar1,
  .bar2,
  .bar3 {
    background-color: #fff;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 70px;
    margin-right: 5px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 70px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  #page-1,
  #page-2,
  #page-3 {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
  }

  #page-1 .p1-section-left,
  #page-2 .p2-section-left,
  #page-3 .p3-section-left {
    width: 100%;
    height: 25%;
    /* background: url("../image/mobile_d_bg.png") no-repeat; */
    background-size: cover;
    position: relative;
  }

  #page-1 .p1-section-right,
  #page-2 .p2-section-right,
  #page-3 .p3-section-right {
    height: auto;
  }

  #page-1 .p1-section-right-area,
  #page-2 .p2-section-right-area,
  #page-3 .p3-section-right-area {
    padding: 20px 20px 0;
    height: 60%;
  }

  #page-1 .p1-section-right-area div .p1-image-area,
  #page-2 .p2-section-right-area div .p2-image-area,
  #page-3 .p3-section-right-area div .p3-image-area {
    width: 40px;
  }

  #page-1 .p1-section-right-area div .p1-image-area img,
  #page-2 .p2-section-right-area div .p2-image-area img,
  #page-3 .p3-section-right-area div .p3-image-area img {
    width: 100%;
  }

  #page-1 .p1-section-right-area div .p1-title,
  #page-2 .p2-section-right-area div .p2-title,
  #page-3 .p3-section-right-area div .p3-title {
    font-size: 30px;
  }

  #page-1 .p1-section-right-area div .p1-desc,
  #page-2 .p2-section-right-area div .p2-desc,
  #page-3 .p3-section-right-area div .p3-desc {
    font-size: 15px;
  }

  #page-1 .p1-section-right-area .p1-desc-area,
  #page-2 .p2-section-right-area .p2-desc-area,
  #page-3 .p3-section-right-area .p3-desc-area {
    margin: 40px 0 0;
    color: #000;
  }

  #page-1 .p1-section-right-area .p1-desc-area ul li,
  #page-2 .p2-section-right-area .p2-desc-area ul li,
  #page-3 .p3-section-right-area .p3-desc-area ul li {
    margin-bottom: 20px;
  }

  #page-1 .p1-section-right-area .p1-desc-area ul li:last-child,
  #page-2 .p2-section-right-area .p2-desc-area ul li:last-child,
  #page-3 .p3-section-right-area .p3-desc-area ul li:last-child {
    margin-bottom: 40px;
  }

  #page-1 .p1-image-title,
  #page-2 .p2-image-title,
  #page-3 .p3-image-title {
    display: none;
  }

  .pg-pips {
    z-index: 0;
  }
}

/* Anumista */

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
