.zikto-wrap {
  width: 100vw;
  height: 100vh;
}

.zikto-container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
}

haeder .zikto-nav-area {
  width: 100%;
  margin: 0 auto;
}

header .zikto-nav-area ul {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 60px;
  position: relative;
  z-index: 19;
}

header .zikto-nav-area ul:after {
  content: "";
  display: block;
  clear: both;
}

header .zikto-nav-area ul li {
  width: 50%;
}

header .zikto-nav-area ul li:first-child {
  float: left;
}

header .zikto-nav-area ul li:first-child p {
  display: inline-block;
}

header .zikto-nav-area ul li:first-child p:first-child {
  width: 140px;
  margin-right: 25px;
}

header .zikto-nav-area ul li:first-child p:last-child {
  width: 110px;
  vertical-align: middle;
}

header .zikto-nav-area ul li:first-child p img {
  width: 100%;
  vertical-align: middle;
  z-index: 19 !important;
}

header .zikto-nav-area ul li:last-child {
  float: right;
}

.container {
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.bar {
  z-index: 19;
}

.bar1 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar3 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px);
}

/* SECTION AREA */

section {
  width: 100%;
  margin: 0 auto;
}

section .zikto-product-area {
  width: 100%;
}

section .zikto-product {
  max-width: 1440px;
  margin: 0 auto;
}

section .zikto-product div {
  /* width: 100%; */
  padding: 22px 60px 45px;
}

section .zikto-product div p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
}

section .business-product {
  display: grid;
  grid-gap: 100px 100px;
  grid-auto-rows: 190px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 0 80px;
}

section .business-product li p:first-child {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: red;
  margin-bottom: 15px;
  cursor: pointer;
}

/* section animation  and
background image*/

section .business-product :nth-child(1) {
  -webkit-animation: fade-in-bottom 0.5s ease-in-out;
  animation: fade-in-bottom 0.5s ease-in-out;
}
section .business-product :nth-child(1) p:first-child {
  background: url("../image/card_item/personal_travel.png") no-repeat;
  background-size: cover;
}

section .business-product :nth-child(2) {
  -webkit-animation: fade-in-bottom 1s ease-in-out;
  animation: fade-in-bottom 1s ease-in-out;
}
section .business-product :nth-child(2) p:first-child {
  background: url("../image/card_item/personal_highway.png") no-repeat;
  background-size: cover;
}

section .business-product :nth-child(3) {
  -webkit-animation: fade-in-bottom 1.5s ease-in-out;
  animation: fade-in-bottom 1.5s ease-in-out;
}
section .business-product :nth-child(3) p:first-child {
  background: url("../image/card_item/personal_rain.png") no-repeat;
  background-size: cover;
}

section .business-product :nth-child(4) {
  -webkit-animation: fade-in-bottom 2s ease-in-out;
  animation: fade-in-bottom 2s ease-in-out;
}
section .business-product :nth-child(4) p:first-child {
  background: url("../image/card_item/personal_snow.png") no-repeat;
  background-size: cover;
}

section .business-product :nth-child(5) {
  -webkit-animation: fade-in-bottom 2.5s ease-in-out;
  animation: fade-in-bottom 2.5s ease-in-out;
}
section .business-product :nth-child(5) p:first-child {
  background: url("../image/card_item/personal_BI.png") no-repeat;
  background-size: cover;
}

section .business-product :nth-child(6) {
  -webkit-animation: fade-in-bottom 3s ease-in-out;
  animation: fade-in-bottom 3s ease-in-out;
}
section .business-product :nth-child(6) p:first-child {
  background: url("../image/card_item/personal_snow.png") no-repeat;
  background-size: cover;
}

/* 추가작업1  */
@media all and (min-width: 1281px) and (max-width: 1440px) {
}

/* 추가작업2  */
@media all and (min-width: 1025px) and (max-width: 1280px) {
}

/* 작업순서 3 : 태블릿 === 스마트폰 가로버전 */
@media all and (min-width: 768px) and (max-width: 1024px) {
  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 90px;
    margin-right: 10px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 90px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  section .zikto-product div {
    padding: 20px 20px 20px;
    letter-spacing: 1px;
  }

  section .zikto-product div p {
    font-size: 13px;
    font-weight: 600;
  }

  section .business-product {
    padding: 0 20px;
    grid-gap: 60px 25px;
  }
}

/* 작업순서 2 : 스마트폰 가로버전 */
@media all and (min-width: 481px) and (max-width: 767px) {
  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 90px;
    margin-right: 10px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 90px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  section .zikto-product div {
    padding: 20px;
  }

  section .zikto-product div p:nth-child(2) {
    padding: 0 10px;
  }

  section .business-product {
    grid-gap: 100px 20px;
    padding: 0 20px;
  }
}

/* 작업순서 1 : 스마트폰 세로버전 */
@media all and (min-width: 320px) and (max-width: 480px) {
  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 70px;
    margin-right: 5px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 70px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  section .zikto-product div {
    padding: 20px 20px 20px;
    letter-spacing: 1px;
  }

  section .zikto-product div p {
    font-size: 13px;
    font-weight: 600;
  }

  section .business-product {
    padding: 0 20px 60px;
    grid-gap: 60px 100px;
  }
}

/* Anumista */

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
