.zikto-wrap {
  width: 100vw;
  height: 100vh;
  background-color: red;
  background: url("../image/jay_background.png") no-repeat;
  background-size: cover;
}

.zikto-container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
}

haeder .zikto-nav-area {
  width: 100%;
  margin: 0 auto;
}

header .zikto-nav-area ul {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 60px;
  position: relative;
  z-index: 19;
}

header .zikto-nav-area ul:after {
  content: "";
  display: block;
  clear: both;
}

header .zikto-nav-area ul li {
  width: 50%;
}

header .zikto-nav-area ul li:first-child {
  float: left;
}

header .zikto-nav-area ul li:first-child p {
  display: inline-block;
}

header .zikto-nav-area ul li:first-child p:first-child {
  width: 140px;
  margin-right: 25px;
}

header .zikto-nav-area ul li:first-child p:last-child {
  width: 110px;
  vertical-align: middle;
}

header .zikto-nav-area ul li:first-child p img {
  width: 100%;
  vertical-align: middle;
  z-index: 19 !important;
}

header .zikto-nav-area ul li:last-child {
  float: right;
}

.container {
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.bar {
  z-index: 19;
}

.bar1 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar3 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px);
}

/* SECTION AREA */

section {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}

section .section-title {
  margin-bottom: 130px;
}

section .section-title h1,
section .section-title h2 {
  font-family: "Noto Sans KR", sans-serif;
}

section .section-title h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 27px;
  letter-spacing: -1px;
  line-height: 65px;
  -webkit-animation: fade-in-bottom 1s ease-in-out;
  animation: fade-in-bottom 1s ease-in-out;
}

section .section-title h2 {
  font-size: 20px;
  -webkit-animation: fade-in-bottom 2s ease-in-out;
  animation: fade-in-bottom 2s ease-in-out;
  position: relative;
}

section .section-area {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 150px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
}

section .section-select {
  width: 720px;
  height: 140px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  padding: 40px 0;
}

section .section-select div {
  width: 50%;
  height: 100%;
  float: left;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 3px;
  line-height: 30px;
  position: relative;
  /* padding: 0 10%; */
}

section .section-select div a {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -28px;
  margin-left: -113px;
}

section .section-select div h3,
section .section-select div h4 {
  font-family: "Noto Sans KR", sans-serif;
}

section .section-select div h3 {
  font-size: 16px;
  font-weight: 600;
}

section .section-select div h4 {
  font-size: 10px;
  font-weight: 300;
}

section .section-select div h4 img {
  width: 15%;
}

section .section-select :last-child {
  border: none;
}



/* 추가작업1  */
@media all and (min-width: 1281px) and (max-width: 1440px) {

}

/* 추가작업2  */
@media all and (min-width: 1025px) and (max-width:1280px) {

}

/* 작업순서 3 : 태블릿 === 스마트폰 가로버전 */
@media all and (min-width: 768px) and (max-width:1024px) {
  .zikto-wrap {
    background: url('../image/table_i_bg.png') no-repeat;
    background-size: cover;
  }

  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 90px;
    margin-right:10px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 90px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  section .section-area {
    /* max-width: 1440px; */
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #000;
    margin-top: 60px;
  }

  section .section-area .section-title {
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-area .section-title h1{
    font-size: 35px;
    line-height: 45px;
  }

  section .section-area .section-title h2 {
    font-size: 18px;
  }

  /* section-select */
  section .section-select {
    width: 645px;
    height: 110px;
    padding: 30px 0px;
  }

  section .section-select div {
    width: 50%;
    height: 100%;
    line-height: 25px;
  }

  section .section-select div h3 {
    font-size: 16px;
    font-weight: 600;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-select div h4 {
    font-size: 10px;
    font-weight: 300;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }
}


/* 작업순서 2 : 스마트폰 가로버전 */
@media all and (min-width: 481px) and (max-width:767px) {
  .zikto-wrap {
    background: url('../image/mobile_hor_i_bg.png') no-repeat;
    background-size: cover;
  }

  /* header  */

  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 90px;
    margin-right:10px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 90px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  /* section */

  /* section-title */
  section .section-area {
    padding: 0 20px;
    justify-content: flex-start;
  }

  section .section-area .section-title {
    margin-top: 20px;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-area .section-title h1{
    font-size: 35px;
    line-height: 45px;
  }

  section .section-area .section-title h2 {
    font-size: 18px;
  }

  /* section-select */
  section .section-select {
    width: 645px;
    height: 110px;
    padding: 30px 0px;
  }

  section .section-select div {
    width: 50%;
    height: 100%;
    line-height: 25px;
  }

  section .section-select div h3 {
    font-size: 16px;
    font-weight: 600;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-select div h4 {
    font-size: 10px;
    font-weight: 300;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }
}

/* 작업순서 1 : 스마트폰 세로버전 */
@media all and (min-width: 320px) and (max-width:480px) {
  .zikto-wrap {
    background: url('../image/mobile_i_bg.png') no-repeat;
    background-size: cover;
  }

  /* header  */

  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 70px;
    margin-right: 5px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 70px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  /* section */

  /* section-title */
  section .section-area {
    padding: 0 20px;
    justify-content: flex-start;
  }

  section .section-area .section-title {
    margin-top: 20px;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-area .section-title h1{
    font-size: 35px;
    line-height: 45px;
  }

  section .section-area .section-title h2 {
    font-size: 18px;
  }

  /* section-select */
  section .section-select {
    width: 353px;
    height: 220px;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
  }

  section .section-select div {
    width: 100%;
    height: 100%;
    color: #fff;
    border-right: none;
    border-bottom: 1px solid #fff;
    letter-spacing: 3px;
    line-height: 25px;
  }

  section .section-select div h3 {
    font-size: 14px;
    font-weight: 600;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-select div h4 {
    font-size: 8px;
    font-weight: 300;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }
}







@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}