.zikto-wrap {
  width: 100vw;
  height: 100vh;
  background-color: red;
  background: url("../image/travel_background.png") no-repeat;
  background-size: cover;
}

.zikto-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
}

header .zikto-nav-area {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

header .zikto-nav-area ul {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 60px;
  position: relative;
  z-index: 19;
}

header .zikto-nav-area ul:after {
  content: "";
  display: block;
  clear: both;
}

header .zikto-nav-area ul li {
  width: 50%;
}

header .zikto-nav-area ul li:first-child {
  float: left;
}

header .zikto-nav-area ul li:first-child p {
  display: inline-block;
}

header .zikto-nav-area ul li:first-child p:first-child {
  width: 108px;
  margin-right: 15px;
  /* vertical-align: middle; */
}

header .zikto-nav-area ul li:first-child p:last-child {
  width: 108px;
  vertical-align: middle;
}

header .zikto-nav-area ul li:first-child p img {
  width: 100%;
  vertical-align: middle;
  z-index: 19 !important;
}

header .zikto-nav-area ul li:last-child {
  float: right;
}

.container {
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.bar {
  z-index: 19;
}

.bar1 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar3 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px);
}

/* SECTION AREA */

.pt-section {
  /* background-color: #3f51b5; */
  /* background: url("../image/travel_background.png") no-repeat; */
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.pt-section div {
  width: 100%;
}

/* section left */
.pt-section .pt-section-left {
  width: 100%;
  height: 100%;
  color: #fff;
}

.pt-section .pt-section-left .pt-section-left-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px 80px;
  text-align: left;
}

/* section-right */
.pt-section .pt-section-right {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.pt-section .pt-section-right .pt-section-right-area {
  /* padding-top: 5%;
  padding-left: 7%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 80px;
}

.pt-section .pt-section-right .pt-section-right-area p {
  /* color: #000; */
  margin: 0;
}

.pt-section .pt-section-right .pt-section-right-area h1 {
  margin: 20px 0;
  font-weight: 900;
  font-size: 50px;
}

.pt-section .pt-section-right .pt-section-right-area h2 {
  margin-bottom: 50px;
}

.pt-section .pt-section-right .pt-section-right-area ul {
}

.pt-section .pt-section-right .pt-section-right-area ul li {
  margin: 10px 0 0;
}

.pt-section .pt-section-right .pt-section-right-area ul li img {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.pt-section .pt-section-right .pt-section-right-area ul li p {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #fff;
}

.pt-partner-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* 추가작업1  */
@media all and (min-width: 1281px) and (max-width: 1440px) {
}

/* 추가작업2  */
@media all and (min-width: 1025px) and (max-width: 1280px) {
}

/* 작업순서 3 : 태블릿 === 스마트폰 가로버전 */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .zikto-wrap {
    background: url("../image/tablet_d_bg.png") no-repeat;
    background-size: cover;
  }

  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 90px;
    margin-right: 10px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 90px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  section .section-area {
    /* max-width: 1440px; */
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #000;
    margin-top: 60px;
  }

  section .section-area .section-title {
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-area .section-title h1 {
    font-size: 35px;
    line-height: 45px;
  }

  section .section-area .section-title h2 {
    font-size: 18px;
  }

  /* section-select */
  section .section-select {
    width: 645px;
    height: 110px;
    padding: 30px 0px;
  }

  section .section-select div {
    width: 50%;
    height: 100%;
    line-height: 25px;
  }

  section .section-select div h3 {
    font-size: 16px;
    font-weight: 600;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-select div h4 {
    font-size: 10px;
    font-weight: 300;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }
}

/* 작업순서 2 : 스마트폰 가로버전 */
@media all and (min-width: 481px) and (max-width: 767px) {
  .zikto-wrap {
    background: url("../image/tablet_d_bg.png") no-repeat;
    background-size: cover;
  }

  /* header  */

  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 90px;
    margin-right: 10px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 90px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  /* section */

  /* section-title */
  section .section-area {
    padding: 0 20px;
    justify-content: flex-start;
  }

  section .section-area .section-title {
    margin-top: 20px;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-area .section-title h1 {
    font-size: 35px;
    line-height: 45px;
  }

  section .section-area .section-title h2 {
    font-size: 18px;
  }

  /* section-select */
  section .section-select {
    width: 645px;
    height: 110px;
    padding: 30px 0px;
  }

  section .section-select div {
    width: 50%;
    height: 100%;
    line-height: 25px;
  }

  section .section-select div h3 {
    font-size: 16px;
    font-weight: 600;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-select div h4 {
    font-size: 10px;
    font-weight: 300;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }
}

/* 작업순서 1 : 스마트폰 세로버전 */
@media all and (min-width: 320px) and (max-width: 480px) {
  .zikto-wrap {
    background: unset;
    /* background-size: cover; */
    height: unset;
  }

  /* header  */

  header .zikto-nav-area ul {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
    z-index: 19;
  }

  header .zikto-nav-area ul li:first-child {
    /* background-color: red; */
  }

  header .zikto-nav-area ul li:first-child p:first-child {
    width: 70px;
    margin-right: 5px;
  }

  header .zikto-nav-area ul li:first-child p:last-child {
    width: 70px;
    vertical-align: middle;
  }

  header .zikto-nav-area ul li:first-child p img {
    width: 100%;
    vertical-align: middle;
    z-index: 19 !important;
  }

  /* section */

  .pt-section {
    flex-direction: column;
  }

  .pt-section .pt-section-left {
    background: url("../image/travel_bg_mobile.png") no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
  }

  .pt-section .pt-section-right {
    width: 100%;
    height: 100%;
    background-color: unset;
    background: url("../image/travel_bg_mobile_desc.png") no-repeat;
    /* background-color: #333; */
    background-size: cover;
    /* background-position-y: center; */
    color: #fff;
  }

  .pt-section .pt-section-right .pt-section-right-area {
    /* padding-top: 5%;
    padding-left: 7%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
  }

  .pt-section .pt-section-right .pt-section-right-area p {
    /* color: #000; */
    margin: 0;
    font-size: 12px;
  }

  .pt-section .pt-section-right .pt-section-right-area h1 {
    margin: 20px 0;
    font-weight: 900;
    font-size: 40px;
  }

  .pt-section .pt-section-right .pt-section-right-area h2 {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .pt-section .pt-section-right .pt-section-right-area ul {
    margin-bottom: 40px;
  }

  .pt-section .pt-section-right .pt-section-right-area ul li {
    margin: 10px 0 0;
  }

  .pt-section .pt-section-right .pt-section-right-area ul li img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .pt-partner-title-m {
    width: 100%;
  }

  .pt-partner-title-m p {
    padding: unset;
  }

  .pt-partner-title {
    display: none;
  }

  /* section-title */
  section .section-area {
    padding: 0 20px;
    justify-content: flex-start;
  }

  section .section-area .section-title {
    margin-top: 20px;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-area .section-title h1 {
    font-size: 35px;
    line-height: 45px;
  }

  section .section-area .section-title h2 {
    font-size: 18px;
  }

  /* section-select */
  section .section-select {
    width: 353px;
    height: 220px;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
  }

  section .section-select div {
    width: 100%;
    height: 100%;
    color: #fff;
    border-right: none;
    border-bottom: 1px solid #fff;
    letter-spacing: 3px;
    line-height: 25px;
  }

  section .section-select div h3 {
    font-size: 14px;
    font-weight: 600;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }

  section .section-select div h4 {
    font-size: 8px;
    font-weight: 300;
    -webkit-animation: fade-in-bottom 1s ease-in-out;
    animation: fade-in-bottom 1s ease-in-out;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
