/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f4f3f0;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  /* z-index: 100; */
}

/* Menu style */
.overlay .nav-area {
  max-width: 1440px;
  padding: 0 60px;
  height: 100%;
  /* text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.overlay ul {
  /* list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; */
}

.overlay ul li {
  display: block;
  /* height: 20%; */
  /* height: calc(100% / 5); */
  /* min-height: 54px; */
  -webkit-backface-visibility: hidden;
  /* margin: 20px 0; */
  backface-visibility: hidden;
}

.overlay .zikto-nav-items {
  width: 100%;
}

.overlay .zikto-nav-items li {
  margin: 40px 0;
}

.overlay .zikto-nav-items li a {
  /* font-weight: 600; */
}

.overlay .zikto-nav-items li a span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #000;
  margin-left: 20px;
  vertical-align: middle;
  border-radius: 50%;
}

.overlay .zikto-nav-items li a:hover {
  font-weight: 600;
}

.overlay .zikto-nav-items li a:hover > span {
  background-color: #000;
}

.contact-area {
  width: 60%;
  height: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.contact-area h2 {
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 20px;
}

.overlay ul li a {
  font-size: 40px;
  /* font-weight: 300; */
  display: block;
  color: #000;
  /* font-size: 35px; */
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  text-align: right;
  font-family: "Noto Sans KR", sans-serif;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  transform: scale(1.02);
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc .nav-area {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc .nav-area ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open .nav-area ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close .nav-area ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

.fab {
  font-size: 20px;
}

.footer-copy-area {
  padding: 0 60px;
  position: absolute;
  left: 0;
  bottom: 3%;
  font-size: 12px;
  line-height: 20px;
  color: #9b9b9b;
}

/* 작업순서 3 : 태블릿 === 스마트폰 가로버전 */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .overlay .nav-area {
    padding: 0 20px;
  }

  .footer-copy-area {
    padding: 0 20px;
  }
}

/* 작업순서 2 : 스마트폰 가로버전 */
@media all and (min-width: 481px) and (max-width: 767px) {
  .overlay .nav-area {
    padding: 0 20px;
  }
  .contact-area {
    display: none;
  }
  .overlay ul li a {
    font-size: 30px;
  }
}

/* 작업순서 1 : 스마트폰 세로버전 */
@media all and (min-width: 320px) and (max-width: 480px) {
  .overlay .nav-area {
    padding: 0 20px;
  }
  .contact-area {
    display: none;
  }
  .overlay ul li a {
    font-size: 30px;
  }

  .footer-copy-area {
    right: 0;
    text-align: right;
    padding: 0 20px;
  }
}
